extends layout

block content
  .container
    p.lead
      !=messages()
    h2 Something on your mind ?
    |
    form(action="/", method="POST")
      .form-group 
        textarea(name="content", placeholder="Share it with the fediverse",cols="50")
      .form-group
        input(type="submit")
    h2 See some notes below :
      each note in notes
        .jumbotron
          p 
            a(href= '/users/account/'+ note.actorObject._id)  #{note.actorObject.username}
            span 
            small (#{note.actorObject.username}@#{note.actorObject.host})
          p= note.content 
          small
            a(href='/users/account/'+ note.actorObject._id + '/note/' + note.id) clic
          p.date=note.published
      else
        .jumbotron
          p No notes yet
