extends layout

block content
  .container
    p.lead
      !=messages()
    h2 Search for members
    form(action="/users", method="POST")
      .form-group
        input.form-control(type="text",placeholder="Find someone@host.org", name="user_searched")
        input(type="submit",placeholder="submit")
    if actors
      h2=subtitle
      .jumbotron
        each actor in actors
          p
            a(href=actor.url)=actor.username
              span @
              span=actor.host
            span  - member since 
            span=actor.created_at
    else 
      h2=subtitle
