extends layout

block content
  .container
    .jumbotron
      p 
        a(href= actor.url)  #{actor.username}
        span 
        small (#{actor.username}@#{actor.host})
      p= content 
      p.date= published

  
