extends layout

block content
  .container
    p.lead
      !=messages()
    h2 
      a(href=authorUrl) #{author}@#{host}
    if user
      form(action="/users/"+ author + "/follow?resource=" + author + '@' + host, method="POST")
        .form-group
          button(type="submit",placeholder="follow",name="follow") Follow
    each note in notes
      .jumbotron
        p 
          a(href= authorUrl)  #{author}
          span 
          small (#{author}@#{host})
        p= note.content 
        small 
          a(href='/users/'+ author + '/note/' + note.id) clic
        p.date= note.published
    else
      .jumbotron
        p No notes yet
  
